<section>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider-image-4.jpg" alt="Random third slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider1.jpg" alt="Random first slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider3.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <img src="../../assets/images/slider5.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider7.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider8.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../assets/images/slider9.jpg" alt="Random second slide" class="rotatingImage">
      <div class="carousel-caption">

      </div>
    </ng-template> -->

  </ngb-carousel>
</section>
