<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Contact</th>
      <th>City</th>
      <th>Membership Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
      <td>1234567890</td>
      <td>Nagpur</td>
      <td>free</td>

    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
      <td>1234567890</td>
      <td>Nagpur</td>
      <td>free</td>

    </tr>
  </tbody>
</table>
