<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
  crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
  crossorigin="anonymous"></script>
<!-- <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Alegreya|Playfair+Display" rel="stylesheet">


<app-header></app-header>

<router-outlet></router-outlet>

<!-- <app-map-marker></app-map-marker>  -->

<!-- <main-screen-top></main-screen-top> -->
<!-- <app-signup></app-signup>
<app-login></app-login> -->
<!-- <a href="" class="companyName">COMPANY NAME</a> -->
<!-- <app-main-screen-body></app-main-screen-body> -->
<!-- <router-outlet></router-outlet> -->